<link rel='stylesheet' href='/stylesheets/style.css' />
<div class="form-container">
   <h1>Edit Toy Products</h1>
   <form action="/edit/{{toys._id}}" method="post">
      <div class="form-group">
         <label>Name</label>
         <input class="form-control" type="text" name="name" value="{{ toys.name }}" required>
      </div>
      <div class="form-group">
         <label>Origin</label>
         <input class="form-control" type="text" name="origin" value="{{ toys.origin }}" required>
      </div>
      <div class="form-group">
         <label>Price</label>
         <input class="form-control" type="text" name="price" value="{{ toys.price }}" required>
      </div>
      <div class="form-group">
         <label>Brand</label>
         <input class="form-control" type="text" name="brand" value="{{ toys.brand }}" required>
      </div>
      <div class="form-group">
         <label>Brand Origin</label>
         <input class="form-control" type="text" name="brand_origin" value="{{ toys.brand_origin }}" required>
      </div>
      <div class="form-group">
         <label>Quantity</label>
         <input class="form-control" type="text" name="quantity" value="{{ toys.quantity }}" required>
      </div>
      <div class="form-group">
         <label>Image</label><br>
         <img src="{{ toys.image }}" alt="Toy Image">
         <input class="form-control" type="text" name="image" value="{{ toys.image }}" required>
      </div>
      <div class="form-group">
         <input class="btn-admin" type="submit" value="Edit">
      </div>
   </form>
</div>