<div class="container col-md-8 mt-3 mb-3">
    <div class="row">
        <div class="col">
            <h1>{{ toys.name }}</h1>
            <img  width="350" height="250" src="{{ toys.image }}">
        </div>
        <div class="col">
            <table class="table table-bordered">
                <tr>
                    <th colspan="2">TOY INFORMATION</th>
                </tr>
                <tr>
                    <th>Toy Origin</th>
                    <td>{{ toys.origin }}</td>
                </tr>
                <tr>
                    <th>Toy Price</th>
                    <td>{{ toys.price }}</td>
                </tr>
                <tr>
                    <th>Toy Brand</th>
                    <td>{{ toys.brand }}</td>
                </tr>
                <tr>
                    <th>Toy Brand Origin</th>
                    <td>{{ toys.brand_origin }}</td>
                </tr>
                <tr>
                    <th>In stock</th>
                    <td>{{ toys.quantity }}</td>
                </tr>
                <tr class="text-center">
                    <th colspan="2">
                        <form action="/confirm" method="post">
                            <input type="hidden" name="name" value="{{ toys.name }}">
                            <input type="hidden" name="price" value="{{ toys.price }}">
                            <label for="quantity">Quantity:</label>
                            <input style="align-items: start;" type="number" name="quantity" min="1" max="{{toys.quantity}}" required>
                            <input type="submit" class="btn-" value="ORDER"></input>
                            <input type="hidden" name="image" value="{{ toys.image }}">
                        </form>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>